.wrapper{
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn{
  color: #3e77aa;
  font-size: 36px;
}

.counter{
  width: 56px;
  padding: 7px 0;
  font-size: 14px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  color: #221f1f;
}
